.config
/goposix
test/busybox_testsuite/runtest-tempdir-links/
test/busybox_testsuite/.tmpdir.*/
test/busybox_testsuite/grep.testdir//runtest-tempdir-links/
.antigravitycli/
coverage.out
coverage.txt
bin/goposix
